<% @articles.where(harrassment: true).in_groups_of(3, false).each do |harrassment| %>
  <div class="row">
  <% harrassment.each do |ass| %>
      <div class="col-md-4">
        <h3><%= link_to ass.title, ass %></h3>
        <small>Published about <%= time_ago_in_words(ass.created_at) %> ago</small>
        <p><%= simple_format ass.body[0...300] %></p>
        <div>
          <%= link_to "Read more", ass %>
        </div>
        <% if policy(@articles).update? %>
          <div>
            <%= link_to 'Edit', edit_article_path(ass) %>
          </div>
          <div>
            <%= link_to 'Destroy', ass, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> <!-- end of destory button -->
        <% end %> <!-- end of policy -->
      </div> <!-- col-md-4 -->
    <% end %>  
  </div>
<% end %>