<% @articles.where(hiring: true).in_groups_of(3, false).each do |hires| %>
  <div class="row">
  <% hires.each do |hire| %>
      <div class="col-md-4 length">
        <h3><%= link_to hire.title, hire %></h3>
        <small>Published about <%= time_ago_in_words(hire.created_at) %> ago</small>
        <p><%= simple_format hire.body[0...300] %></p>
        <div>
          <%= link_to "Read more", hire%>
        </div>
        <% if policy(@articles).update? %>
          <div>
            <%= link_to 'Edit', edit_article_path(hire) %>
          </div>
          <div>
            <%= link_to 'Destroy', hire, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> <!-- end of destory button -->
        <% end %> <!-- end of policy -->
      </div> <!-- col-md-4 -->
    <% end %> 
    </div> 
<% end %>




