<% @articles.where(leave_disability: true).in_groups_of(3, false).each do |leave| %>
  <div class="row">
  <% leave.each do |disability| %>
      <div class="col-md-4">
        <h3><%= link_to disability.title, disability %></h3>
          <small>Published about <%= time_ago_in_words(disability.created_at) %> ago</small>
        <p><%= simple_format disability.body[0...300] %></p>
        <div>
          <%= link_to "Read more", disability%>
        </div>
        <% if policy(@articles).update? %>
          <div>
            <%= link_to 'Edit', edit_article_path(disability) %>
          </div>
          <div>
            <%= link_to 'Destroy', disability, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> <!-- end of destory button -->
        <% end %> <!-- end of policy -->
      </div> <!-- col-md-4 -->
    <% end %>  
  </div>
<% end %>


