<% @articles.where(management: true).in_groups_of(3, false).each do |management| %>
  <div class="row">
  <% management.each do |performance| %>
      <div class="col-md-4">
        <h3><%= link_to performance.title, performance %></h3>
        <small>Published about <%= time_ago_in_words(performance.created_at) %> ago</small>
        <p><%= simple_format performance.body[0...300] %></p>
        <div>
          <%= link_to "Read more", performance%>
        </div>
        <% if policy(@articles).update? %>
          <div>
            <%= link_to 'Edit', edit_article_path(performance) %>
          </div>
          <div>
            <%= link_to 'Destroy', performance, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> <!-- end of destory button -->
        <% end %> <!-- end of policy -->
      </div> <!-- col-md-4 -->
    <% end %>  
  </div>
<% end %>


