<% @articles.where(safety_health: true).in_groups_of(3, false).each do |safety| %>
  <div class="row">
  <% safety.each do |health| %>
      <div class="col-md-4">
        <h3><%= link_to health.title, health %></h3>
        <i>Published <%= health.created_at.strftime("%B %dth %Y") %></i>
        <p><%= simple_format health.body[0...300] %></p>
        <div>
          <%= link_to "Read more", health%>
        </div>
        <% if policy(@articles).update? %>
          <div>
            <%= link_to 'Edit', edit_article_path(health) %>
          </div>
          <div>
            <%= link_to 'Destroy', health, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> <!-- end of destory button -->
        <% end %> <!-- end of policy -->
      </div> <!-- col-md-4 -->
    <% end %>  
  </div>
<% end %>


