<% @articles.where(wages: true).in_groups_of(3, false).each do |wages| %>
  <div class="row">
  <% wages.each do |wage| %>
    <% if wage.wages? %>
      <div class="col-md-4">
        <h3><%= link_to wage.title, wage %></h3>
        <i>Published <%= wage.created_at.strftime("%B %dth %Y") %></i>
        <p><%= simple_format wage.body[0...300] %></p>
        <div>
          <%= link_to "Read more", wage%>
        </div>
        <% if policy(@articles).update? %>
          <div>
            <%= link_to 'Edit', edit_article_path(wage) %>
          </div>
          <div>
            <%= link_to 'Destroy', wage, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> <!-- end of destory button -->
        <% end %> <!-- end of policy -->
      </div> <!-- col-md-4 -->
    <% end %>  
  <% end %>
</div>
<% end %>




