
<div class="container">
<% if policy(Article.new).create? %>
  <br><%= link_to 'New Article', new_article_path %>
<% end %>

<h1>Blog</h1><hr>
<div class="google-adsense-blog">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- hrsurvival v2 -2 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2109246747658646"
         data-ad-slot="6007922817"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
<% @articles.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <% group.each do |articles| %>
    <div class="col-md-4">
      <h3><%= link_to articles.title, articles %></h3>
      <p><%= simple_format truncate(articles.body, length: 200) %></p>
      <div><%= link_to "Read more", articles%></div>
        <% if policy(@articles).update? %>
          <div><%= link_to 'Edit', edit_article_path(articles) %></div>
          <div><%= link_to 'Destroy', articles, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
    </div>
    <% end %>
  </div>
<% end %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- hrsurvival v2 -2 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2109246747658646"
         data-ad-slot="6007922817"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

