<%= display_meta_tags %>
<div class="container">
  <% if policy(Article.new).create? %>
    <br><%= link_to 'New Article', new_article_path %>
  <% end %>
  <br>
  <br>
  <h1>Blog</h1>
  <hr>
     <div class="row">
       <div class="tabbable tabs-left">
         <ul class="nav nav-pills">
          <li class="active"><a href="#all" data-toggle="tab">All</a></li>
          <li><a href="#hiring" data-toggle="tab">Hiring</a></li>
          <li><a href="#firing" data-toggle="tab">Firing</a></li>
          <li><a href="#wages" data-toggle="tab">Wages</a></li>
          <li><a href="#reads" data-toggle="tab">Etc.</a></li>
          <li><a href="#holidays" data-toggle="tab">Holidays</a></li>
          <li><a href="#forms" data-toggle="tab">Forms</a></li>
          <li><a href="#leave_disability" data-toggle="tab">ADA/FMLA</a></li>
          <li><a href="#management" data-toggle="tab">Management</a></li>
          <li><a href="#safety_health" data-toggle="tab">OSHA</a></li>
          <li><a href="#webinars_events" data-toggle="tab">Events</a></li>
          <li><a href="#harassment" data-toggle="tab">Harassment</a></li>
         </ul>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- hrsurvival v2 -2 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2109246747658646"
               data-ad-slot="6007922817"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
         <div class="tab-content">
           <div class="tab-pane fade in active" id="all">
             <%= render 'all' %>
           </div>
           <div class="tab-pane fade" id="hiring">
             <%= render 'hiring' %>
           </div>
           <div class="tab-pane fade" id="firing">
             <%= render 'firing' %>
           </div>    
           <div class="tab-pane fade" id="wages">
             <%= render 'wages' %>
           </div>   
           <div class="tab-pane fade" id="reads">
             <%= render 'read' %>
           </div>
           <div class="tab-pane fade" id="holidays">
             <%= render 'holidays' %>
           </div>
           <div class="tab-pane fade" id="forms">
             <%= render 'forms' %>
           </div>
           <div class="tab-pane fade" id="leave_disability">
             <%= render 'leave' %>
           </div>            
           <div class="tab-pane fade" id="management">
             <%= render 'management' %>
           </div>            
           <div class="tab-pane fade" id="safety_health">
             <%= render 'osha' %>
           </div>            
           <div class="tab-pane fade" id="webinars_events">
             <%= render 'events' %>
           </div>            
           <div class="tab-pane fade" id="harassment">
             <%= render 'harassment' %>
           </div>                                       
         </div>
       </div>
     </div><br>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- hrsurvival v2 -2 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2109246747658646"
               data-ad-slot="6007922817"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center footer">
      <br>
      <div class="text-center">Looking for another state?</div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/az", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Arizona</a><br>
        <a href="https://hrsimple.com/co", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Colorado</a><br>
        <a href="https://hrsimple.com/fl", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Florida</a><br>
        <a href="https://hrsimple.com/ga", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Georgia</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/ia", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Iowa</a><br>
        <a href="https://hrsimple.com/il", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Illinois</a><br>
        <a href="https://hrsimple.com/ks", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Kansas</a><br>
        <a href="https://hrsimple.com/me", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Maine</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/md", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Maryland</a><br>
        <a href="https://hrsimple.com/ma", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Massachusetts</a><br>    
        <a href="https://hrsimple.com/mn", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Minnesota</a><br>
        <a href="https://hrsimple.com/mo", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Missouri</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/ne", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Nebraska</a><br>
        <a href="https://hrsimple.com/nj", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">New Jersey</a><br>
        <a href="https://hrsimple.com/ny", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">New York</a><br>
        <a href="https://hrsimple.com/nc", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">North Carolina</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/oh", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Ohio</a><br> 
        <a href="https://hrsimple.com/ok", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Oklahoma</a><br> 
        <a href="https://hrsimple.com/or", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Oregon</a><br> 
        <a href="https://hrsimple.com/pa", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Pennsylvania</a><br> 
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/sc", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">South Carolina</a><br>
        <a href="https://hrsimple.com/tn", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Tennessee</a><br>
        <a href="https://hrsimple.com/tx", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Texas</a><br>
      </div>
    </div>
    <div class="col-xs-12 footer-2">
      <hr>
      <div class="col-sm-6 col-md-6 col-lg-6"><br>
        <p><%= fa_icon "copyright" %> 2016 hrsurvival.  All rights reserved.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-right"><br>
          <p>866-439-2227</p>
      </div>
    </div>
  </div>
</div>


