<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-3-article col-md-3-mobile">
      <div>
        <br><h3>Related Articles</h3><hr>
      </div>
        <% @articles.each do |a| %>
          <% if a.hiring? && @article.hiring? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.firing? && @article.firing? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.good_read? && @article.good_read? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.holidays_vacations? && @article.holidays_vacations? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.forms_policies? && @article.forms_policies? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.leave_disability? && @article.leave_disability? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.management? && @article.management? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.performance? && @article.performance? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.safety_health? && @article.safety_health? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.wages? && @article.wages? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.webinars_events? && @article.webinars_events? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.harrassment? && @article.harrassment? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% end %>
        <% end %>
 
        <%= render partial: 'google/horizontal' %>
      </div>
    <br><div class="col-md-9 col-md-adjust-body">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- hrsurvival v2 -2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2109246747658646"
        data-ad-slot="6007922817"
        data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <div class="toc-body">
        <h1><%= @article.title %></h1><hr>
          <i>Published <%= @article.created_at.strftime("%B %dth %Y") %></i><br>
        <% if policy(@articles).update? %>
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
        <% end %>
        
        <%= render partial: 'share_buttons/share_articles.html.erb' %>

        <div><%= simple_format @article.body %></div>
      </div><br>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- hrsurvival v2 -2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2109246747658646"
        data-ad-slot="6007922817"
        data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
 </div>
</div>
  <%= render partial: 'footer/footer' %>

