<%= display_meta_tags %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-3-article col-md-3-mobile">
      <div>
        <br><h3>Related Articles</h3><hr>
      </div>
        <% @articles.each do |a| %>
          <% if a.hiring? && @article.hiring? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.firing? && @article.firing? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.good_read? && @article.good_read? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.holidays_vacations? && @article.holidays_vacations? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.forms_policies? && @article.forms_policies? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.leave_disability? && @article.leave_disability? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.management? && @article.management? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.performance? && @article.performance? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.safety_health? && @article.safety_health? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.wages? && @article.wages? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.webinars_events? && @article.webinars_events? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% elsif a.harrassment? && @article.harrassment? == true && a.title != @article.title %>
            <h4><%= link_to a.title, a %></h4>
          <% end %>
        <% end %>
 
        <%= render partial: 'google/horizontal' %>
      </div>
    <br><div class="col-md-9 col-md-adjust-body">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- hrsurvival v2 -2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="<%= ENV['GOOGLE_DATA_ID'] %>"
        data-ad-slot="<%= ENV['GOOGLE_DATA_SLOT'] %>"
        data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <div class="toc-body">
        <h1><%= @article.title %></h1>
        <small>Published about <%= time_ago_in_words(@article.created_at) %> ago</small><br>

        <% if policy(@articles).update? %>
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
        <% end %><hr>
        
        <%= render partial: 'share_buttons/share_articles.html.erb' %>

        <div><%= simple_format @article.body %></div>

      </div><br>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- hrsurvival v2 -2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="<%= ENV['GOOGLE_DATA_ID'] %>"
        data-ad-slot="<%= ENV['GOOGLE_DATA_SLOT'] %>"
        data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
 </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center footer">
      <br>
      <div class="text-center">Looking for another state?</div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/az", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Arizona</a><br>
        <a href="https://hrsimple.com/co", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Colorado</a><br>
        <a href="https://hrsimple.com/fl", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Florida</a><br>
        <a href="https://hrsimple.com/ga", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Georgia</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/ia", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Iowa</a><br>
        <a href="https://hrsimple.com/il", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Illinois</a><br>
        <a href="https://hrsimple.com/ks", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Kansas</a><br>
        <a href="https://hrsimple.com/me", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Maine</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/md", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Maryland</a><br>
        <a href="https://hrsimple.com/ma", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Massachusetts</a><br>    
        <a href="https://hrsimple.com/mn", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Minnesota</a><br>
        <a href="https://hrsimple.com/mo", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Missouri</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/ne", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Nebraska</a><br>
        <a href="https://hrsimple.com/nj", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">New Jersey</a><br>
        <a href="https://hrsimple.com/ny", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">New York</a><br>
        <a href="https://hrsimple.com/nc", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">North Carolina</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/oh", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Ohio</a><br> 
        <a href="https://hrsimple.com/ok", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Oklahoma</a><br> 
        <a href="https://hrsimple.com/or", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Oregon</a><br> 
        <a href="https://hrsimple.com/pa", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Pennsylvania</a><br> 
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/sc", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">South Carolina</a><br>
        <a href="https://hrsimple.com/tn", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Tennessee</a><br>
        <a href="https://hrsimple.com/tx", onclick="return confirm('We are sending you to our sister site, hrsimple.com, where you will find state and federal employment law material for 23 additional states. hrsimple.com is add-free, but it is a paid subscription site. Thanks for using hrsurvival.com and we hope to see you back again.')", class="footer-text">Texas</a><br>
      </div>
    </div>
    <div class="col-xs-12 footer-2">
      <hr>
      <div class="col-sm-6 col-md-6 col-lg-6"><br>
        <p><%= fa_icon "copyright" %> 2016 hrsurvival.  All rights reserved.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-right"><br>
          <p>866-439-2227</p>
      </div>
    </div>
  </div>
</div>

