<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-3-article col-md-3-mobile">
      <div>
        <br><h2>More Articles</h2><hr>
      </div>
        <% @articles.each do |a| %>
          <h4><%= link_to a.title, a %></h4>
        <% end %>
 
        <%= render partial: 'google/horizontal' %>
      </div>
    <br><div class="col-md-9">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- hrsurvival v2 -2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2109246747658646"
        data-ad-slot="6007922817"
        data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <div class="toc-body">
        <h1><%= @article.title %></h1><hr>
        <% if policy(@articles).update? %>
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
        <% end %>

  <!-- Your share button code -->
        <div><%= simple_format @article.body %></div>
      </div><br>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- hrsurvival v2 -2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2109246747658646"
        data-ad-slot="6007922817"
        data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
 </div>
</div>
  <%= render partial: 'footer/footer' %>

