<div class="container">
  <div class="row">
  <div class="col-md-4">
    <p>Guidelines for books:</p>
    <ul>
      <li></li>
      <li>Always spellcheck before saving</li>
      <li>Smile when you type.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @book do |b| %>
    <div class="form-group">
      <%= b.label :title %>
      <%= b.text_field :title, class: 'form-control', placeholder: "Enter book title" %>
    </div>
    <div class="form-group">
      <%= b.label :body %>
      <%= b.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Body description" %>
    </div>
    <% if @book.avatar? %>
      <div class="form-group">
        <p>Current avatar</p>
        <%= image_tag( @book.avatar.url ) %>
      </div>
    <% end %>
    <div class="form-group">
      <%= b.label :avatar %>
      <%= b.file_field :avatar %>
      <%= b.hidden_field :avatar_cache %>
    </div>
    <div class="field-group">
      <%= b.label :author %>
      <%= b.text_field :author, class: 'form-control', placeholder: "Enter author's name" %>
   </div><br>
    <div class="form-group">
      <%= b.label :websiteurl %>
      <%= b.text_field :websiteurl, class: 'form-control', placeholder: "Enter author's website URL" %>
    </div><br>
    <div class="form-group">
      <%= b.label :websitename %>
      <%= b.text_field :websitename, class: 'form-control', placeholder: "Enter Law Firm" %>
    </div><br>
    <div class="form-group">
      <%= b.label :facebook %>
      <%= b.text_field :facebook, class: 'form-control', placeholder: "Enter author's Facebook if applicable" %>
    </div><br>
    <div class="form-group">
      <%= b.label :twitter %>
      <%= b.text_field :twitter, class: 'form-control', placeholder: "Enter author's Twitter if applicable" %>
    </div><br>
    <div class="form-group">
      <%= b.label :youtube %>
      <%= b.text_field :youtube, class: 'form-control', placeholder: "Enter author's Youtube if applicable" %>
    </div><br>
    <div class="form-group">
      <%= b.label :tumblr %>
      <%= b.text_field :tumblr, class: 'form-control', placeholder: "Enter author's Tumblr if applicable.  Else, enter hrsimple Tumblr" %>
    </div><br>
    <div class="form-group">
      <%= b.label :linkedin %>
      <%= b.text_field :linkedin, class: 'form-control', placeholder: "Enter author's Linkedin if applicable."%>
    </div><br>
      <div class="field-group">
      <%= b.label :chamber %>
      <%= b.text_field :chamber, class: 'form-control', placeholder: "Enter Chamber name" %>
    </div>
    <div class="field-group">
      <%= b.label :public, class: "checkbox" do %><br>
      <%= b.check_box :public %> Public topic? 
      <% end %>
    </div>
    <div class="field-group">
      <%= b.label :published, class: "checkbox" do %><br>
      <%= b.check_box :published %> Published topic? 
      <% end %>
    </div>
      <%= b.submit "Save", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>



