  <div class="book-page-header container-fluid">
    <h1 class="book-page-title text-center"><%= @book.title %></h1>
    <h3 class="book-page-toc text-center"><%= @book.body %></h3>

  </div>

<section class="container">

<p id="notice"><%= notice %></p>

<% if policy(@book).update? %>
  <%= link_to "Edit Topic", edit_book_path, class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <% @chapters.each do |chapter| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to chapter.title, [@book, chapter] %>
          </h4>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if policy(Book.new).create? %>
      <%= link_to "New Chapter", new_book_chapter_path(@book), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
</section>
  <div class="navbar navbar-default footer">
    <div class="container-fluid">
      <div class="col-md-6">
        <p><span class="glyphicon glyphicon-copyright-mark"></span>2006-2016 American Chamber of Commerce Resources, LLC.  All rights reserved.</p>
      </div>
      <div class="col-md-6 text-right">
          <p><span class="glyphicon glyphicon-phone-alt"></span>855-477-4675</p>
      </div>
    </div>
