
<div class="container-fluid">
  <div class="row">
    <div class="book-image">
      <div class="col-xs-12 jumbotron book-image-1 text-center">
        <h1>Virginia Human Resources Library</h1>
        <p><span class="dark-blue">Developed and updated by Andrew (Andy) T. Wampler at Wilson Worley law firm.</span><p>
        <br>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- smallest-2 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:125px;height:125px"
             data-ad-client="<%= ENV['GOOGLE_DATA_ID'] %>"
             data-ad-slot="<%= ENV['GOOGLE_AD_SLOT_THREE'] %>"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
    <div class="col-xs-12 i">
      <div class="text-center">
        <h1>Employment Law by Andy Wampler</h1>
        <% if policy(@book).update? %>
          <%= link_to "Edit Book", edit_book_path(@book), class: 'btn btn-primary' %>
          <%= link_to "New Chapter", new_book_chapter_path(@book), class: 'btn btn-primary' %>
        <% end %>
        <hr class="yellow-line">
        <% @book.chapters.in_groups_of(3, false).each do |group| %>
          <% group.each do |t| %>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
              <h4><%= link_to t.title, [@book, t] %></h4>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="about-andrew-i">
        <h1 class="text-center">About Andrew Wampler</h1>
        <div class="col-sm-6 col-md-6 col-lg-6 text-center">
          <span class="andrew"><%= image_tag(@book.avatar.url) %></span>  
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 about-andrew-u">
          <p>Andy Wampler grew up in the Tri-Cities. His practice includes business advising, healthcare, employment, business and commercial litigation, and class actions.  He has been involved in the litigation as counsel for both plaintiffs and defendants. He practices in the state and federal courts throughout East Tennessee and Southwest Virginia. Mr. Wampler negotiates contracts and works with business formation and organization.  He serves several groups as counselor and volunteer.  Mr. Wampler has written and spoken on legal topics, with his work cited by the Sixth Circuit Court of Appeals and used by Met Life for training, among others.  He has taught college literature and composition classes and presented at local, regional, and national conferences.  He lives in Kingsport with his wife Jenny and their three children.</p> 
          <div class="contact-andrew">
            <a href="http://wwmgs.com/contact-us/">Contact Andrew Wampler</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-center footer">
      <br>
      <div class="text-center">Looking for another state?</div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/az"></a>Arizona</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/co"></a>Colorado</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/fl"></a>Florida</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ga"></a>Georgia</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/ia"></a>Iowa</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/il"></a>Illinois</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ks"></a>Kansas</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/me"></a>Maine</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/md"></a>Maryland</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ma"></a>Massachusetts</small><br>    
        <small class="footer-text"><a href="https://hrsimple.com/mn"></a>Minnisota</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/mo"></a>Missouri</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/ne"></a>Nebraska</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/nj"></a>New Jersey</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ny"></a>New York</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/nc"></a>North Carolina</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/oh"></a>Ohio</small><br> 
        <small class="footer-text"><a href="https://hrsimple.com/ok"></a>Oklahoma</small><br> 
        <small class="footer-text"><a href="https://hrsimple.com/or"></a>Oregon</small><br> 
        <small class="footer-text"><a href="https://hrsimple.com/pa"></a>Pennsylvania</small><br> 
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/sc"></a>South Carolina</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/tn"></a>Tennessee</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/tx"></a>Texas</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ga"></a>Georgia</small><br>
      </div>
    </div>
    <div class="col-xs-12 footer-2">
      <hr>
      <div class="col-sm-6 col-md-6 col-lg-6"><br>
        <p><%= fa_icon "copyright" %> 2016 hrsuvival.  All rights reserved.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-right"><br>
          <p>855-477-4675</p>
      </div>
    </div>
    </div>
  </div>




<script>
  $(document).ready(function(){
    params = decodeURIComponent(window.location.search.substring(1)).split("=")
    if(params[0] == "chapter_title"){
      $("#" + params[1] ).collapse('show');
    }
  })
</script>