<%= form_for [@book, @chapter, @tableofcontent] do |f| %>
  <% if @tableofcontent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tableofcontent.errors.count, "error") %> prohibited this tableofcontent from being saved:</h2>

      <ul>
      <% @tableofcontent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
    <div class="field">
      <%= f.label :body %>
      <script src="js/epiceditor.js"></script>
      <div id="epiceditor">
        <%= f.text_area :body %>
      </div>
      <script>var editor = new EpicEditor().load();</script>
    </div>
  <div class="field">
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
