<div class="container">
  <%= form_for [@book, @chapter] do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter the name of author" %>
  </div><br>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, :ckeditor => {:toolbar => 'Full'} %>
  </div><br>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.check_box :published %>
  </div><br>
  <div class="field">
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </div><br>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: 'form-control', placeholder: "Enter the name of author" %>
  </div><br>
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div><br>
<% end %>
