<section class="container chapter-show">
  <div class="row">
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- chapter-small -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:125px;height:125px"
           data-ad-client="ca-pub-2109246747658646"
           data-ad-slot="9242484410"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <br>
      <br>
      <% @book.chapters.each do |chapter| %>
        <p><%= link_to chapter.title, [@book, chapter] %></p>
      <% end %>
    </div>
    <section class="container">
      <div class="col-sm-9 col-md-9 col-lg-9 chapter-col">
        <div class="media">
          <div class="media-body"> 
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- chapter-small -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:125px;height:125px"
                   data-ad-client="ca-pub-2109246747658646"
                   data-ad-slot="9242484410"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <hr>
            </div>
            <br>
            <h1><%= @chapter.title %><br> <small>Authored by <%= link_to @book.author, @book.websiteurl %></h1>     
            <% if policy(@chapter).update? %>
              <%= link_to "Edit Chapter", edit_book_chapter_path, class: 'btn btn-primary' %>
              <%= link_to "New TOC", new_book_chapter_tableofcontent_path(@book, @chapter, @tableofcontent), class: 'btn btn-success' %>
            <% end %>
            <% @chapter.tableofcontents.each do |toc| %> 
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= toc.id %>" aria-expanded="true" aria-controls="<%= toc.id %>">
                      <%= toc.title %>
                    </a>
                    </h4>
                  </div>
                  <div id="<%= toc.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <% if policy(@chapter).update? %>
                        <%= link_to "Edit TOC", edit_book_chapter_tableofcontent_path(@book, @chapter, toc), class: 'btn btn-primary' %>
                        <%= link_to "Delete TOC", [@book, @chapter, toc], method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this TOC?" } %>            
                      <% end %>
                      <p><%= simple_format toc.body %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </section>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center footer">
      <br>
      <div class="text-center">Looking for another state?</div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/az"></a>Arizona</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/co"></a>Colorado</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/fl"></a>Florida</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ga"></a>Georgia</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/ia"></a>Iowa</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/il"></a>Illinois</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ks"></a>Kansas</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/me"></a>Maine</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/md"></a>Maryland</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ma"></a>Massachusetts</small><br>    
        <small class="footer-text"><a href="https://hrsimple.com/mn"></a>Minnisota</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/mo"></a>Missouri</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/ne"></a>Nebraska</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/nj"></a>New Jersey</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ny"></a>New York</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/nc"></a>North Carolina</small><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/oh"></a>Ohio</small><br> 
        <small class="footer-text"><a href="https://hrsimple.com/ok"></a>Oklahoma</small><br> 
        <small class="footer-text"><a href="https://hrsimple.com/or"></a>Oregon</small><br> 
        <small class="footer-text"><a href="https://hrsimple.com/pa"></a>Pennsylvania</small><br> 
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <small class="footer-text"><a href="https://hrsimple.com/sc"></a>South Carolina</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/tn"></a>Tennessee</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/tx"></a>Texas</small><br>
        <small class="footer-text"><a href="https://hrsimple.com/ga"></a>Georgia</small><br>
      </div>
    </div>
    <div class="col-xs-12 footer-2">
      <hr>
      <div class="col-sm-6 col-md-6 col-lg-6"><br>
        <p><%= fa_icon "copyright" %> 2016 hrsuvival.  All rights reserved.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-right"><br>
          <p>855-477-4675</p>
      </div>
    </div>
  </div>
</div>